{% extends 'base.html' %}
{% block title %}Джедаи{% endblock %}

{% block content %}

    <div class="container-fluid" style="font-size: 20px;">
        <div class="text-center">Кого возьмешь в падаваны?</div>
        {% for candidate in candidates %}
            <div class="row justify-content-center text-center">
                <div class="col">
                    <hr>{{ candidate }} <a href="{% url 'setpadavan' jedi_id=jedi_id candidate_id=candidate.id %}">[Взять в падаваны]</a>

                    <div>
                        Ответы на вопросы:
                        <div style="font-size: 16px;">
                            {% for answer in candidate.answers %}
                                {{ answer.question.text }}: <strong>{% if answer.answer %}Да{% else %}Нет{% endif %}</strong><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="row justify-content-center text-center">
                <div class="col">Нету кандидатов :(</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}