{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}

    <div class="contact-section">
        <a href="candidate/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Для кандидатов</a>
        <a href="jedi/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Для джедаев</a>
        <a href="jedi/?filter" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Джедаи у которых больше 1-го подавана</a>

    </div>

{% endblock %}